<h1>ngx-codemirror6 example</h1>
<p>HTML example</p>
<div class="code">
  <ks-codemirror [content]="contentHtml" [language]="'html'">
  </ks-codemirror>
</div>
<p>JS example</p>
<div class="code">
  <ks-codemirror [content]="contentJs" [language]="'javascript'">
  </ks-codemirror>
</div>
<p>TS example</p>
<div class="code">
  <ks-codemirror [content]="contentTs" [language]="'typescript'">
  </ks-codemirror>
</div>
<p>JSX example</p>
<div class="code">
  <ks-codemirror [content]="contentJsx" [language]="'jsx'">
  </ks-codemirror>
</div>
<p>CSS example</p>
<div class="code">
  <ks-codemirror [content]="contentCss" [language]="'css'">
  </ks-codemirror>
</div>
<p>SCSS example</p>
<div class="code">
  <ks-codemirror [content]="contentScss" [language]="'scss'">
  </ks-codemirror>
</div>
<p>SASS example</p>
<div class="code">
  <ks-codemirror [content]="contentSass" [language]="'sass'">
  </ks-codemirror>
</div>
<br />
