<h1>ngx-codemirror6 example</h1>
<p>HTML example</p>
<codemirror [content]="contentHtml" [language]="'html'">
</codemirror>
<p>JS example</p>
<codemirror [content]="contentJs" [language]="'javascript'">
</codemirror>
<p>TS example</p>
<codemirror [content]="contentTs" [language]="'typescript'">
</codemirror>
<p>JSX example</p>
<codemirror [content]="contentJsx" [language]="'jsx'">
</codemirror>
<p>CSS example</p>
<codemirror [content]="contentCss" [language]="'css'">
</codemirror>
<p>SCSS example</p>
<codemirror [content]="contentScss" [language]="'scss'">
</codemirror>
<p>SASS example</p>
<codemirror [content]="contentSass" [language]="'sass'">
</codemirror>
<br />
