<h1>ngx-codemirror6 example</h1>
<section class="examples">
  <article class="example" *ngFor="let example of examples; trackBy: trackExample">
    <h2>{{ example.title }} example</h2>
    <div class="code-rows">
      <div class="code-grid">
        <div class="code">
          <h3>Light read-only</h3>
          <ks-codemirror [content]="example.content" [language]="example.language" [readOnly]="true">
          </ks-codemirror>
        </div>
        <div class="code">
          <h3>Dark read-only</h3>
          <ks-codemirror
            [content]="example.content"
            [language]="example.language"
            [readOnly]="true"
            [appendExtensions]="darkExtensions">
          </ks-codemirror>
        </div>
      </div>
      <div class="code-grid">
        <div class="code">
          <h3>Light editable</h3>
          <ks-codemirror [content]="example.content" [language]="example.language" [readOnly]="false">
          </ks-codemirror>
        </div>
        <div class="code">
          <h3>Dark editable</h3>
          <ks-codemirror
            [content]="example.content"
            [language]="example.language"
            [readOnly]="false"
            [appendExtensions]="darkExtensions">
          </ks-codemirror>
        </div>
      </div>
    </div>
  </article>
</section>
